<!-- header partial mobile collapsable navbar -->
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Todo App</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Itme 4</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Itme 4</a></li>
      </ul>
    </div>
  </nav>